.header{
    background: white;
    padding:1rem 2rem;

    display:flex;
    justify-content: space-between;
}

#testeDetails{
    display:flex;
    align-items: center;
}

.headerSquare{
    padding: 0.5rem;
    background: #f5f5f5;
    font-weight: bolder;
    border-radius: 10%;
}

.headerSquare:hover{
    background: #555;
    color:white;
}

img{
    width: 10rem;
}

img:hover{
    cursor:pointer
}

.content{
    background-color: #e5e5e5;
    padding:1rem 10rem;
    display: flex;
    justify-content: center;
}

.detailsMargin{
    margin-right: 1rem;
}


@media only screen and  (max-width:480px){

    .header{
        padding: 1rem;
        justify-content: space-around
    }

    #testeName{
        width: 50%;
    }

    #testeDetails{
        justify-content: flex-end;
    }

    h3{
        font-size: medium;
        margin-right: 0;
    }

    h5{
        font-size: small;
        margin-right: 0;
    }

    img{
        width: auto;
        width: 30%;
        margin-right: 1rem;
    }
}

@media (max-width:801px){
    .content{
        padding: 1rem 5rem;
    }
}
