table{
  border-collapse:separate;
  border-spacing:0 10px;
  empty-cells: show;
}

table td:first-child {
  border-radius: 6px 0 0 6px;
}
table td:last-child {
  border-radius: 0 6px 6px 0px;
}
table td:only-child{
  border-radius: 6px 6px 0 6px;
}


td {
    width: 20rem;
    padding:0.5rem 1.5rem;

  }

tr{
    box-shadow: 0px 0px 5px #00000033;
    border-radius: 3%;
}

.tableRow{
  height: 6rem;
  color:#555555;
  background-color: white;
}

#imgHero{
  width: 20%;
  border-radius: 10%;
  margin-right: 1rem;
}

#heroName{
  display:flex;
  align-items: center;
  font-weight: bold;
  font-size: 16px;
}

#heroEvents,#heroSeries{
  font-size: small;
  font-size: 14px;
}

#tableHeader{
  background: none;
  box-shadow: none;
  color: #8e8e8e;
  font-size: small;
  padding: 0;
  height: 0;
  font-size: 12px;
}


