table{
  border-collapse:separate;
  border-spacing:0 10px;
  empty-cells: show;
}

td {
    width: 25rem;
    padding:0.5rem 1.5rem;

  }

tr{
    box-shadow: 0px 0px 5px #00000033;
    border-radius: 3%;
}

.tableRow{
  height: 6rem;
  color:#555555;
  background-color: white;
}

.paginationArea{
  display: flex;
  justify-content: center;
}

#imgHero{
  width: 15%;
  border-radius: 10%;
  margin-right: 1rem;
}

#heroName{
  display:flex;
  align-items: center;
  font-weight: bold;
  font-size: 16px;
}

#heroEvents,#heroSeries{
  font-size: small;
  font-size: 14px;
}

#tableHeader{
  background: none;
  box-shadow: none;
  color: #8e8e8e;
  font-size: small;
  padding: 0;
  height: 0;
  font-size: 12px;
}

/* BORDER RADIUS LINHA DE TABELA */

table td:first-child {
  border-radius: 6px 0 0 6px;
}
table td:last-child {
  border-radius: 0 6px 6px 0px;
}
table td:only-child{
  border-radius: 6px 6px 0 6px;
}

/* PAGINATION */


/* Caso não tenha conteudo para frente ou trás, não renderiza botão para pagina */
pagination-controls /deep/ .disabled{
  display:none;
}

/* ... não aparece */
pagination-controls /deep/ .ellipsis{ 
  display:none;
}

pagination-controls /deep/ li, pagination-controls /deep/ .current{
  padding:0.5rem;
  border-radius: 10%;
  margin: 0.3rem;
}

/* Ajusta tamanho e cor de botões de paginação  */
pagination-controls /deep/ .current{
  background: #167ABC;
  border: 1px solid #167ABC;
  color: white;
}

pagination-controls /deep/ .current span,pagination-controls /deep/ li a{
  padding: 0.1875rem 0.625rem;
}

pagination-controls /deep/ li{
  background: #f5f5f5;
  border: 1px solid #E5E5E5;
}

pagination-controls /deep/ li a:hover{
  background: #f5f5f5;
}

/* Remove fundo de botão para a vançar ou retroceder  */
pagination-controls /deep/ .pagination-next,pagination-controls /deep/ .pagination-previous{
  background: none;
}


pagination-controls /deep/ .ngx-pagination .pagination-next a::after, .ngx-pagination .pagination-next.disabled::after{
  content: ">>"
}

pagination-controls /deep/ .ngx-pagination .pagination-previous a::before, .ngx-pagination .pagination-previous.disabled::before{
  content: "<<"
}


