<table class="table-curved">

    <tr id="tableHeader">
        <td>Personagem</td>
        <td>Séries</td>
        <td>Eventos</td>
    </tr>

    <tr  *ngFor="let character of allCharacters | async | paginate: {
        itemsPerPage: 5,
        currentPage:currentPage,
        totalItems:pageNumbers
    }"> 
        <td class="tableRow" id = "heroName">
             <img id="imgHero"src = {{character.thumbnail.path}}.{{character.thumbnail.extension}} >
             <div [routerLink] = "['/character', character.id]" id="buttonName">{{character.name}}</div>
        </td>

        <td class="tableRow" id="heroSeries">
            <div *ngFor = "let serie of character.series.items; let i=index"> 
                <div *ngIf="i <3">
                    {{serie.name}}
                </div>
            </div>
        </td>

        <td class="tableRow" id = "heroEvents">
            <div *ngFor = "let event of character.events.items; let i=index"> 
                <div *ngIf="i <3">
                    {{event.name? event.name:"teste"}}
                </div>
            </div>
        </td>
    </tr>

</table>

<div class ="paginationArea">
    
    <pagination-controls
        previousLabel="<"
        nextLabel=">"
        [directionLinks] = true
        (pageChange)="currentPage = $event; pageChange($event)"
     
    >

    </pagination-controls>
</div>


