<div id="characterArea">
    <div  *ngFor = "let character of characterDetails | async">

        <div id="characterCard"
            style="background: url({{character.thumbnail.path}}.{{character.thumbnail.extension}});
            background-size: cover;
            background-position:center"
        >
            <div id="characterPosition">
                <div id="characterDetail">
                    <h1 id="characterName">{{character.name}}</h1>
                </div>
            </div>

        </div>
    </div>
    <app-character-events id = "eventArea"></app-character-events>
</div>

    <app-character-series id = "seriesArea"></app-character-series>



