#characterArea{
    display: flex;
}

#characterPosition{
    display: flex;
    flex-direction: column-reverse;
}

#characterCard{
    padding: 1rem;
    height: 25vw;
    width: 30vw;
    border: 2px solid black;
    display:flex;
    flex-direction: row-reverse;
    
}

#characterDetail{
    padding: 1rem;
    background-color: #f5f5f5;
    border: 2px solid black;

    width: fit-content;
    height: fit-content;
}

#eventArea{
    display: grid;
    grid-template-rows: 1fr; 
    margin: 0 1rem;
    height: 25vw;
    overflow: auto;
}
