#characterArea{
    display: flex;
    width: 100%;
}

#characterPosition{
    display: flex;
    flex-direction: column-reverse;
}

#characterCard{
    padding: 1rem;
    height: 45vh;
    width: 30vw;
    border: 2px solid black;
    display:flex;
    flex-direction: row-reverse;
    
}

#characterDetail{
    padding: 1rem;
    background-color: #f5f5f5;
    border: 2px solid black;

    width: fit-content;
    height: fit-content;
}

#eventArea{
    height: 45vh;
    padding:0 1rem;
    overflow: auto;
}

#seriesArea{
    display: flex;
    flex-direction: column;
    overflow: auto;
    height: 40vh;
    width: 100%;
    margin: 1rem 0;
}
